<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<title>{% block title %}{% endblock %} &lsaquo; Fill the Bukkit</title>

		<link href='http://fonts.googleapis.com/css?family=Nobile' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{{ HR_TEMPLATE_PUB_ROOT }}css/fonts.css" />
		<link rel="stylesheet" type="text/css" href="{{ HR_TEMPLATE_PUB_ROOT }}css/fill.css" />
		<link rel="stylesheet" type="text/css" href="{{ HR_TEMPLATE_PUB_ROOT }}css/messages.css" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/jquery-ui.min.js"></script>
		{% endblock %}
	</head>
	<body>
	<div class="wrap">
		<div style="max-width: 100%; overflow: hidden; width: 100%; padding-bottom: 10px;">
		<div class="header">
			<div class="menu-links">
				<a class="home-button" href="/"></a>
				<ul id='nav'>
				{% for menu_item in HR_MENU_ITEMS %}

					<li id="{{ menu_item.id }}" class="{{ menu_item.class }}">
						<a href="{{ menu_item.uri }}">{{ menu_item.text }}</a>
					</li>

				{% endfor %}

				</ul>
			</div>
		</div>
		</div>
		{% block main %}{% endblock main %}
		<div id="footer">
			<p>&copy; {{ THISYEAR }} the Bukkit Team.</p>
			<p>Powered by <a href="http://hostiio.com">Hostiio</a> and <a href="http://aws.amazon.com/s3">Amazon S3</a>.</p>
			<p>Git Revision: <a href="http://github.com/Bukkit/fill/commit/{{ LONGCOMMIT }}">{{ SHORTCOMMIT }}</a> - by {{ USERCOMMIT }} {{ DATECOMMIT }}</p>
		</div>

	</body>
</html>