		{% include 'header.html' %}
	        <div class="featured-rotator">
	            <div class="featured-rotator-wrap">
					<a href="#prev" class="rprev"></a>
					<ul>
						<li>featured item 1</li>
						<li>featured item 2</li>
						<li>featured item 3</li>
						<li>featured item 4</li>
					</ul>
					<a href="#next" class="rnext"></a>
	            </div>
	        </div>
		<div class="content-wrap">
			<div class="cols1">
				<div class="item">
					<div class="item-t">
						<h1>Categories</h1>
					</div>
				</div>
			</div>
			<div class="cols2">
				<div class="item">
					<div class="item-t">
						<h1>Frequently Asked Questions</h1>
						<h3>1. Why is Sturmeh so cool?</h3>
	<p>Many scientists have tried to derive the answer to the question but even the world's best minds are unsure of what causes the effect.</p>
	<h3>2. Why is sk89q so lame?</h3>
	<p>Many scientists have tried to derive the answer to the question but even the world's best minds are unsure of what causes the effect. Also, his plugins suck</p>
	<h3>3. Why now?</h3>
	<p>Why not?</p>
					</div>
				</div>
			</div>
			<div class="cols3">
				<div class="item">
					<div class="item-t">
						<h1>Categories</h1>
					</div>
				</div>
			</div>
		</div>
		{% include 'footer.html' %}