<!DOCTYPE html>
<html>
	<head>
		<title>{{ HR_FRIENDLY_ERROR }} &lsaquo; Fill the Bukkit</title>
		<link rel="stylesheet" type="text/css" href="{{ HR_TEMPLATE_PUB_ROOT }}css/fill.css" />
		<link rel="stylesheet" type="text/css" href="{{ HR_TEMPLATE_PUB_ROOT }}css/error.css" />
	</head>
	<body>
		<div id="errorbit">
			<div id="errorwrap">
				<img src="http://fill.bukkit.org/static/default/images/logo-fill.png" alt="Fill logo" width="183" height="27" />
				<p>an error occurred</p>
				<p><small>{{ HR_ERROR_CODE }}: {{ HR_FRIENDLY_ERROR }}</small></p>
				<!-- {{ HR_ERROR_INFO | raw }} -->
			</div>
		</div>
	</body>
</html>