{% extends 'threecolumn.html' %}
{% block title %}{{ HR_TEMPLATE_TITLE }}{% endblock title %}
{% block col2 %}
					<div class="subHeading">
						{{ HR_TEMPLATE_CONTENT_HEADER|raw }}
					</div>
					<div class="itemContent">
						{{ HR_TEMPLATE_CONTENT|raw }}
					</div>
{% endblock col2 %}
{% block col3out %}
				<div class="item">
					<div class="item-t">
						<h1>Statistics:</h1>
					</div>
				</div>
				<div class="item">
					<div class="item-t">
						<h1>Newly Added:</h1>
					</div>
				</div>
				<div class="item">
					<div class="item-t">
						<h1>Recently Updated:</h1>
					</div>
				</div>
{% endblock col3out %}