		{% include 'header.html' %}
	        <div class="featured-rotator">
	            <div class="featured-rotator-wrap">
					<a href="#prev" class="rprev"></a>
					<div id="rotator_div">
						<ul>
							<li>featured item 1</li>
							<li>featured item 2</li>
							<li>featured item 3</li>
							<li>featured item 4</li>
						</ul>
					</div>
					<a href="#next" class="rnext"></a>
	            </div>
	        </div>
		<div class="content-wrap">
			<div class="cols1">
				<div class="item">
					<div class="item-t">
						<h1>Categories:</h1>
					</div>
				</div>
			</div>
			<div class="cols2">
				<div class="item">
					<div class="subHeading">
						{{ HR_TEMPLATE_CONTENT_HEADER|raw }}
					</div>
					<div class="itemContent">
						{{ HR_TEMPLATE_CONTENT|raw }}
					</div>
				</div>
			</div>
			<div class="cols3">
				<div class="item">
					<div class="item-t">
						<h1>Statistics:</h1>
					</div>
				</div>
				<div class="item">
					<div class="item-t">
						<h1>Newly Added:</h1>
					</div>
				</div>
				<div class="item">
					<div class="item-t">
						<h1>Recently Updated:</h1>
					</div>
				</div>
			</div>
		</div>
		{% include 'footer.html' %}