/******** MESSAGE BOXES BEGIN *********/
.message-info, .message-success, .message-error, .message-validation, .message-warning {
        border: 1px solid;
        margin: 10px 0px;
        padding:15px 10px 15px 50px;
        background-repeat: no-repeat;
        background-position: 10px 50%;
}
.message-info {
        color: #00529B;
        background-color: #BDE5F8;
        background-image: url('../../images/messagebox/info.png');
}
.message-success, input.valid {
        color: #4F8A10;
        background-color: #DFF2BF;
        background-image:url('../../images/messagebox/success.png');
}
.message-warning {
        color: #9F6000;
        background-color: #FEEFB3;
        background-image: url('../../images/messagebox/warning.png');
}
.message-error, input.error {
        color: #D8000C;
        background-color: #FFBABA;
        background-image: url('../../images/messagebox/error.png');
}
.message-validation {
        color: #D63301;
        background-color: #FFCCBA;
        background-image: url('../../images/messagebox/validation.png');
}
input.error, input.valid {
        background-image: none;
}
/*** Thanks to http://goo.gl/ZTeLE for the CSS
           and http://goo.gl/LahoY for the icons ***/
/********** MESSAGE BOXES END ************/

a {
        outline: none;
}
